@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,body{font-family:Open+Sans,sans-serif;font-size:14px;line-height:1.2}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-family:Ubuntu,sans-serif;font-weight:400;margin:10px 0;letter-spacing:4px}
